<% if (locals.add) { %>
    <form action="/addItem" method="post">
        <label for="item_name">Item name: </label>
        <input id="item_name" type="text" name="name" placeholder="Enter Item Name" required>
        <br>
        <label for="item_code">Item Code: </label>
        <input id="item_code" type="text" name="code" placeholder="Enter Item Code" required>
        <br>
        <label for="quantity"> Quantity: </label>
        <input type="number" id="quantity" name="quantity" min="0" required>
        <br>
        <label for="price"> Price: </label>
        <input type="number" id="quantity" name="price" min="0" required>
        <br>
        <label for="warehouse">Choose a warehouse:</label>
        <% if(warehouses.length===0) {%>
          <p>No Warehouse Added</p> 
          <% } %>
        <% if(warehouses.length > 0) { %>
          <select name="warehouses">
            <% warehouses.forEach(w => {%>
              <option value="<%=w.location%> "> <%=w.location%> (Capacity: <%=w.capacity%>
             </option> 
             <% }) %> 
          </select> 
          <% } %> 
          <button>Add More warehouses</button>
        <br>
        <input type="submit" value="Add Item">
    </form>

    <% } %>
