<% if (locals.addw) { %>
    <form action="/addWarehouse" method="post">
        <label for="w_name">Item name: </label>
        <input id="w_name" type="text" name="location" placeholder="Enter Warehouse Name/Location" required>
        <br>
        <label for="w_qty">Item Code: </label>
        <input id="w_qty" type="number" name="capacity" min="0" placeholder="Enter Warehouse capacity" required> 
        <input type="submit" value="Add Warehouse">
    </form>

    <% } %>
