<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Inventory Management
    </h2>
    <a href="/addItem"> Add New Items </a>
    <br>
    <a href="/view"> View and Manage Items </a>
    <br>
    <a href="/addWarehouse"> Add Warehouse </a>
    <br> 
    <br>
    <%- include('add') %>
    <%- include('addw') %>

<% if (locals.message) { %>
  <p><%= locals.message %></p>
<% } %>
</body>
</html>
